.SearchResultComponent {
  text-align: left;
}
.Search-Result-main {
  padding: 15px;
  margin: 20px auto;
  width: 60vw;
}
.word-phonetic {
  display: inline-block;
  border-bottom: 3px solid #ccc;
  padding-bottom: 6px;
}
.meaning-definition {
  font-size: 18px;
  font-weight: 500;
}
.meaning-example {
  font-size: 14px;
  font-weight: 500;
  color: rgb(58, 58, 58);
}
.synonym {
  display: inline-block;
  margin: 10px;
  border-bottom: 1px solid;
  line-height: 2;
}
.footer {
  position: fixed;
  bottom: 0;
  font-size: 12px;
  width: 100vw;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--seconde-color);
  color: #fff;
}
.footer a {
  color: var(--header-color) !important;
  text-decoration: none;
}
.footer a:visited {
  text-decoration: none;
  color: #fdc2c8 !important;
}